name: .NET

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
        include-prerelease: true

     # Add NuGet Sources

    - name: Create Local NuGet Directory
      run: mkdir ~/nuget

    - name: Add Local Nuget Source
      run: dotnet nuget add source ~/nuget

    - name: Add GGroupp NuGet Source
      run: dotnet nuget add source ${{ secrets.GGROUPP_NUGET_SOURCE_URL }} -n ggroupp -u ${{ secrets.GGROUPP_NUGET_SOURCE_USER_NAME }} -p ${{ secrets.GGROUPP_NUGET_SOURCE_USER_PASSWORD }} --store-password-in-clear-text

    # Api.Abstractions.IssuerSigningKey

    - name: Restore Api.Abstractions.IssuerSigningKey
      run: dotnet restore ./src/*/*/Api.Abstractions.IssuerSigningKey.csproj

    - name: Build Api.Abstractions.IssuerSigningKey
      run: dotnet build ./src/*/*/Api.Abstractions.IssuerSigningKey.csproj --no-restore  -c Release

    - name: Pack Api.Abstractions.IssuerSigningKey
      run: dotnet pack ./src/*/*/Api.Abstractions.IssuerSigningKey.csproj --no-restore -o ~/nuget  -c Release

    # Api.Abstractions.SigningCredentials

    - name: Restore Api.Abstractions.SigningCredentials
      run: dotnet restore ./src/*/*/Api.Abstractions.SigningCredentials.csproj

    - name: Build Api.Abstractions.SigningCredentials
      run: dotnet build ./src/*/*/Api.Abstractions.SigningCredentials.csproj --no-restore  -c Release

    - name: Pack Api.Abstractions.SigningCredentials
      run: dotnet pack ./src/*/*/Api.Abstractions.SigningCredentials.csproj --no-restore -o ~/nuget  -c Release

    # Api.Asymmetric.Rsa

    - name: Restore Api.Asymmetric.Rsa
      run: dotnet restore ./src/*/*/Api.Asymmetric.Rsa.csproj

    - name: Build Api.Asymmetric.Rsa
      run: dotnet build ./src/*/*/Api.Asymmetric.Rsa.csproj --no-restore  -c Release

    - name: Pack Api.Asymmetric.Rsa
      run: dotnet pack ./src/*/*/Api.Asymmetric.Rsa.csproj --no-restore -o ~/nuget  -c Release

    # Access Token Create.Api.Abstractions

    - name: Restore Access Token  Create.Api.Abstractions
      run: dotnet restore ./src/security-token-create-api/*/Create.Api.Abstractions.csproj

    - name: Build Access Token Create.Api.Abstractions
      run: dotnet build ./src/security-token-create-api/*/Create.Api.Abstractions.csproj --no-restore  -c Release

    - name: Pack  Access Token Create.Api.Abstractions
      run: dotnet pack ./src/security-token-create-api/*/Create.Api.Abstractions.csproj --no-restore -o ~/nuget  -c Release

    # Access Token Create.Api.Jwt

    - name: Restore Access Token Create.Api.Jwt
      run: dotnet restore ./src/security-token-create-api/*/Create.Api.Jwt.csproj

    - name: Build Access Token Create.Api.Jwt
      run: dotnet build ./src/security-token-create-api/*/Create.Api.Jwt.csproj --no-restore  -c Release

    - name: Pack Access Token Create.Api.Jwt
      run: dotnet pack ./src/security-token-create-api/*/Create.Api.Jwt.csproj --no-restore -o ~/nuget  -c Release

    # Refresh Token Create.Api.Abstractions

    - name: Restore Refresh Token Create.Api.Abstractions
      run: dotnet restore ./src/security-refresh-token-create-api/*/Create.Api.Abstractions.csproj

    - name: Build Refresh Token Create.Api.Abstractions
      run: dotnet build ./src/security-refresh-token-create-api/*/Create.Api.Abstractions.csproj --no-restore  -c Release

    - name: Pack Refresh Token Create.Api.Abstractions
      run: dotnet pack ./src/security-refresh-token-create-api/*/Create.Api.Abstractions.csproj --no-restore -o ~/nuget  -c Release

    # Refresh Token Create.Api.Jwt

    - name: Restore Refresh Token Create.Api.Jwt
      run: dotnet restore ./src/security-refresh-token-create-api/*/Create.Api.Jwt.csproj

    - name: Build Refresh Token Create.Api.Jwt
      run: dotnet build ./src/security-refresh-token-create-api/*/Create.Api.Jwt.csproj --no-restore  -c Release

    - name: Pack Refresh Token Create.Api.Jwt
      run: dotnet pack ./src/security-refresh-token-create-api/*/Create.Api.Jwt.csproj --no-restore -o ~/nuget  -c Release

    # Get.Api.Abstractions

    - name: Restore Get.Api.Abstractions
      run: dotnet restore ./src/*/*/Get.Api.Abstractions.csproj

    - name: Build Get.Api.Abstractions
      run: dotnet build ./src/*/*/Get.Api.Abstractions.csproj --no-restore  -c Release

    - name: Pack Get.Api.Abstractions
      run: dotnet pack ./src/*/*/Get.Api.Abstractions.csproj --no-restore -o ~/nuget  -c Release

    # Get.Api.Jwt

    - name: Restore Get.Api.Jwt
      run: dotnet restore ./src/*/*/Get.Api.Jwt.csproj

    - name: Build Get.Api.Jwt
      run: dotnet build ./src/*/*/Get.Api.Jwt.csproj --no-restore  -c Release

    - name: Pack Get.Api.Jwt
      run: dotnet pack ./src/*/*/Get.Api.Jwt.csproj --no-restore -o ~/nuget  -c Release

    # Validate.Api.Abstractions

    - name: Restore Validate.Api.Abstractions
      run: dotnet restore ./src/*/*/Validate.Api.Abstractions.csproj

    - name: Build Validate.Api.Abstractions
      run: dotnet build ./src/*/*/Validate.Api.Abstractions.csproj --no-restore  -c Release

    - name: Pack Validate.Api.Abstractions
      run: dotnet pack ./src/*/*/Validate.Api.Abstractions.csproj --no-restore -o ~/nuget  -c Release

    # Validate.Api.Jwt

    - name: Restore Validate.Api.Jwt
      run: dotnet restore ./src/*/*/Validate.Api.Jwt.csproj

    - name: Build Validate.Api.Jwt
      run: dotnet build ./src/*/*/Validate.Api.Jwt.csproj --no-restore  -c Release

    - name: Pack Validate.Api.Jwt
      run: dotnet pack ./src/*/*/Validate.Api.Jwt.csproj --no-restore -o ~/nuget  -c Release

    # Middleware.Jwt

    - name: Restore Middleware.Jwt
      run: dotnet restore ./src/*/*/Middleware.Jwt.csproj

    - name: Build Middleware.Jwt
      run: dotnet build ./src/*/*/Middleware.Jwt.csproj --no-restore  -c Release

    - name: Pack Middleware.Jwt
      run: dotnet pack ./src/*/*/Middleware.Jwt.csproj --no-restore -o ~/nuget  -c Release

    # Push

    - name: Push Packages
      if: ${{ github.ref == 'refs/heads/main' }}
      run: dotnet nuget push "../../../nuget/*.nupkg" -s ${{ secrets.GGROUPP_NUGET_SOURCE_URL }} -k ${{ secrets.GGROUPP_NUGET_SOURCE_USER_PASSWORD }} --skip-duplicate